.bodyalumno{

background-size: 180% 255%;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #04475E),
	color-stop(1, #042533)
);
background-image: -o-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -moz-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -webkit-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -ms-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: linear-gradient(to bottom, #04475E 0%, #042533 100%);
}
#menutop{
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
    background-color: rgba(255,255,255,0.9);
    border-color: rgba(255,255,255,0.2);
    border-bottom-color: rgba(51, 153, 255,0.5);
	border-radius: 5px 5px 5px 5px;
}
.logo{
	margin-left: 25px;
	margin-top: 3%;
	margin-bottom:3%;
	max-width: 90px;
}
#usuario{
	margin-left: 10%;
	font-size: 20px;
	color: gray;
}

.navbar-right li  a {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
#tabla{
	margin-left: 15%;
	width: 70%;
}
.table{
	background-color: rgba(255,255,255,0.9);
}
.botones{
	text-align: center;
}

#sugerencias{
	border-radius:5px 5px 5px 5px;
	background-color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.2);

 
}
ul li{
	display: inline;
}