#menutop{
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
}
.navbar{
	background-color: rgba(255,255,255,0.5);
}
.navbar-toggle{
	border-radius: 7px 7px 7px 7px;
}

#tabla{
	margin-left: 15%;
	width: 70%;
}
.table{
	font-family: fantasy;
}
.bodyalumno{

background-size: 180% 255%;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #04475E),
	color-stop(1, #042533)
);
background-image: -o-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -moz-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -webkit-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: -ms-linear-gradient(bottom, #04475E 0%, #042533 100%);
background-image: linear-gradient(to bottom, #04475E 0%, #042533 100%);
}