#body1{
	background-color: rgba(52, 73, 94,1.0);
}
#login{
	width: 300px;
	text-align: center;
	margin: 0 auto;
	padding-top: 5%;
	
}
#login2{
	background-color: rgba(0,0,0,0.3);
	padding: 3% 7% 7% 7%;
	color:white;
	border-radius: 5% 5% 5% 5%;
}
#login2 form button{
	width: 85%;
	border-color: rgba(0,0,0,0);
	font-weight: bold;

}
#triangulo{
	width: 1px;
  border-right:15px solid transparent;
  border-bottom:15px solid rgba(0,0,0,0.3);
  border-left:15px solid transparent;
  margin:0 auto;
}
